// MyProgressBar
// ===
//
// Component description here


// Variables
// ---


// MyProgressBar root
// ---

.c-my-progress-bar {
    // Root Class. Contains all core styles, typically for the component's
    // wrapper element.

    background-color: $neutral-40;
    width: 100%;
    height: $unit*4;
    position: relative;
}


// Modifiers
// ---
//
.c-my-progress-bar.c--border {
    border: $border;
}


// Sub components
// ---
//
.c-my-progress-bar__visual-indicator {
    background-color: $brand-color;
    height: 100%;
}

.c-my-progress-bar__text-label {
    color: $neutral-00;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: $unit*1;
    transform: translateY(-50%);
}
